<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.neomu_kotlin">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new"
        android:label="너무"
        android:roundIcon="@mipmap/ic_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize"
        android:launchMode="singleTask"
        >
        <activity android:name="neomu.kotlin.app.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="neomu.kotlin.app.main.LoginActivity"/>
        <activity android:name=".app.main.activity.AuthActivity"/>
        <activity android:name="neomu.kotlin.app.main.JoinActivity"/>
        <activity android:name=".app.club.activity.ClubActivity"/>
        <activity android:name=".app.club.activity.MainActivity"/>
        <activity android:name=".app.club.activity.PostDetailActivity"/>
        <activity android:name=".app.chat.activity.ChatActivity"/>
        <activity android:name=".app.mypage.activity.MyPageActivity" />
        <activity android:name=".app.map.activity.MapActivity"/>
<!--        <activity android:name="com.not.app.search.SearchActivity"/>-->

    </application>
</manifest>